@import 'scale';
@import 'rotate'; 
@import 'load';
@mixin animation($animation){
    -webkit-animation:$animation;
    -o-animation:$animation;
    -o-animation:$animation;
    animation:$animation;
}